


body{
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  background-color: #FFF;
}

#header{

  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 350px;
  z-index: 99;
}

#nav-header{

  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid;
  padding: 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 2em;
}

#navbar{

  z-index: 99;
  position: absolute;
  margin-top: 89px;
  display:inline-block;
  width: 350px;
  height: 100%;
  background-color: white;
  overflow-y: auto;
}

#navbar ul {
  margin-top:89px;
  list-style-type: none;
  margin: 5px;
  padding-left: 0px;
}

#navbar ul li {
  padding: 20px;
  border-bottom: 1px solid;
}
#navbar ul li:last-child {
  border-bottom: none;
}

#navbar li a:hover {
  background-color: #253D5B;
  color: white;
}


#navbar ul li a {
  padding: 20px 20px;
  display: inline;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
}


/* -------------- CONTENT--------------------- */

body #main-doc{
  position: absolute;
  margin-left:350px;
  width: auto;
  height: 100%;
  padding: 25px;
}

#content{

  padding-bottom: 100px;
}

section header{
  font-size: 1.8em;
  padding-top: 20px;
}

pre{
  background-color: #F8F8F8;
  padding: 20px;
}



@media screen and (max-width:768px)
{
  #header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 200px;
    width: 100%;
    z-index: 99;
  }
  #content{
    background-color: yellow;
  }

  #navbar{
    display:inline-block;
    width: inherit;
    height: 180px;
    background-color: white;
    overflow-x: auto;

    border-bottom: 2px solid;
  }
  body{

    margin-top: 0px;
  }

  body #main-doc{
    position: absolute;
    margin-top:180px;
    margin-left: 0px;
    width: auto;
    height: 100%;
    padding: 25px;
  }

}
