


body{
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  background-color: #EEE;
}

header{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: fit-content;
  z-index: 99;
}

#nav-bar{
  display:inline-block;
  width: 300px;
  height: 100%;
  background-color: white;
  overflow-y: auto;
}

#nav-bar ul {
  list-style-type: none;
  margin: 5px;
  padding-left: 0px;
}

#nav-bar ul li {
  padding: 20px;
  border-bottom: 1px solid;
}
#nav-bar ul li:last-child {
  border-bottom: none;
}

#nav-bar li a:hover {
  background-color: #253D5B;
  color: white;
}


#nav-bar ul li a {
  padding: 20px 20px;
  display: inline;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
}


/* -------------- CONTENT--------------------- */

body #main-doc{
  position: absolute;
  margin-left:300px;
  width: auto;
  height: 100%;
  padding: 25px;
}

#content{

  padding-bottom: 100px;
}

h1{
  padding-bottom: 20px;
}



@media screen and (max-width:768px)
{
  header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 200px;
    width: 100%;
    z-index: 99;
  }
  #content{
    background-color: yellow;
  }

  #nav-bar{
    display:inline-block;
    width: inherit;
    height: 180px;
    background-color: white;
    overflow-x: auto;
  }
  body{

    margin-top: 0px;
  }

  body #main-doc{
    position: absolute;
    margin-top:180px;
    margin-left: 0px;
    width: auto;
    height: 100%;
    padding: 25px;
  }

}
